.events-list__item--blue { background-color: #C7EEFF; }
.events-list__item--pink { background-color: #FFEEF6; }
.events-list__item--green { background-color: #E6F9E6; }
.events-list__item--yellow { background-color: #FFE38E; }
.events-list__item--purple { background-color: #DDDDFF; }
.events-list__item--orange { background-color: #FFCE94; }

.events-block {
    margin: 100px 0;
}

.events-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 0;
}

.events-list__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    padding: 33px;
    font-size: 12px;
    width: 48%;
    max-width: 370px;
    max-height: 220px;
}
.events-item__cont {
    display: flex;
    align-items: center;
    gap: 0 20px;
}
.events-item__title {
    font-size: 18px;
}
.events-item__img {
    max-width: 26px;
}
.events-item__date,
.events-item__title {
    font-weight: 500;
}
.events-list__item:hover {
    cursor: pointer;
    box-shadow: 3px 4px 21px 0px rgba(39, 170, 225, 0.27);
    transition: all 0.3s;
}
.modal-title {
    margin-bottom: 10px;
}

@media(max-width: 1200px) {
    .events-list__item {
        max-width: none;
    }
}

@media(max-width: 600px) {
    .events-list__item {
        max-height: none;
        width: 100%;
    }
}