.events-block {
    margin: 100px 0;
}

.events-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 0;
}

.events-list__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    background: #ffe38e;
    padding: 33px;
    font-size: 12px;
    width: 48%;
    max-width: 370px;
    max-height: 220px;
}
.events-list__item:nth-child(odd) {
    background: rgba(189, 103, 156, 0.867);
}
.events-item__title {
    font-size: 18px;
}
.events-item__date,
.events-item__title {
    font-weight: 500;
}
.events-list__item:hover {
    cursor: pointer;
    box-shadow: 3px 4px 21px 0px rgba(39, 170, 225, 0.27);
    transition: all 0.3s;
}
.modal-title {
    margin-bottom: 10px;
}

@media(max-width: 1200px) {
    .events-list__item {
        max-width: none;
    }
}

@media(max-width: 600px) {
    .events-list__item {
        max-height: none;
        width: 100%;
    }
}