* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    color: #000;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  select:active,
  select:focus {
    outline: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style: none;
  }
  
  select,
  input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    background-color: transparent;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 0 20px;
  }
  